# Dependencies
node_modules

# Build outputs
.next
out
build
dist
.turbo

# Coverage
coverage

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb

# Environment files
.env
.env.local
.env.*.local

# Public assets
public
